<div>

	<h2>Account Details:</h2>

	<div id="userDetails">
		<ul>Name: {{first_name}} {{last_name}}</ul>
		<ul>Email: {{email}}</ul>
		<ul>Address: {{address}}</ul>
	</div>

	<h2>Dashboard:</h2>

	<!-- Reference: https://www.w3schools.com/howto/howto_js_tabs.asp -->
	<div id="dashboard">
		<div class="tab">
			<button class="tablinks" id="booksTab">
				Book Inventory
			</button>
			<button class="tablinks" id="swapsTab">
				Swaps
			</button>
			<button class="tablinks" id="wishlistTab">
				Wishlist
			</button>
		</div>
	</div>

	<div id="booksInventory" class="tabcontent active">
		<h2> Your Books </h2>

		<table>
			<tr>
				<th>BOOK ID</th>
				<th>TITLE</th>
				<th>AUTHOR</th>
				<th>CONDITION</th>
				<th>LIST DATE</th>
				<th></th>
			</tr>
			{{#each books}}
			<tr>
				<td>{{book_id}}</td>
				<td>{{title}}</td>
				<td>{{author}}</td>
				<td>{{condition_description}}</td>
				<td>{{list_date}}</td>
				<td>
					<button>Delete
					</button>
				</td>
			</tr>
			{{/each}}
		</table>
	</div>

	<div id="swaps" class="tabcontent">
		<h2> Pending Swaps </h2>

		<table>
		    <tr>
		        <th>SWAP ID</th>
		        <th>IS_ACCEPTED</th>
		        <th>REQUEST_DATE</th>
		        <th>TITLE</th>
		    </tr>

		    {{#each swaps}}
		    <tr>
		        <td>{{swap_id}}</td>
		        <td>{{is_accepted}}</td>
		        <td>{{request_date}}</td>
		        <td>{{title}}</td>
		    </tr>
		    {{/each}}
		</table>



		<h2> Previous Swaps </h2>
	</div>

	<div id="wishlist" class="tabcontent">
		<h2> Wishlist </h2>
	</div>

</div>

<script src="../scripts/account.js"></script>