<link rel="stylesheet" href="/css/dashboard.css">
	<div class="row mt-4 ml-1"><h2><i class="far fa-heart"></i>&#32;Manage your account</h2></div>

	<div id="userDetails" class="row justify-content-around mb-4">
		<div class="col-md-2"><div class="row smallHeader">Name:</div><div class="row largeHeader">{{first_name}} {{last_name}}</div></div>
		<div class="col-md-2"><div class="row smallHeader">Email:</div><div class="row largeHeader">{{email}}</div></div>
		<div class="col-md-2"><div class="row smallHeader">Address:</div><div class="row largeHeader">{{address}}</div></div>
		<div class="col-md-2"><div class="row smallHeader">Points</div><div class="row largeHeader">7</div></div>
	</div>

	{{!-- <h2>Dashboard:</h2> --}}

	<!-- Reference: https://www.w3schools.com/howto/howto_js_tabs.asp -->
	<div id="dashboard">
		<div class="tab">
			<button class="tablinks" id="booksTab">
				<i class="fas fa-book"></i> Book Inventory
			</button>
			<button class="tablinks" id="swapsTab">
				Swaps
			</button>
			<button class="tablinks" id="wishlistTab">
				Wishlist
			</button>
		</div>
	</div>

	<div id="booksInventory" class="tabcontent" style="display: block">
		<div class="row mx-2 text-center"><button class="btn btn-primary"> Add Book </button></div>

		<div class="row mx-2">
			<table id="inventoryTable">
			</table>
		</div>
	</div>

	<div id="swaps" class="tabcontent">
		<h2> Pending Swaps </h2>

		<table>
		    <tr>
		        <th>SWAP ID</th>
		        <th>IS_ACCEPTED</th>
		        <th>REQUEST_DATE</th>
		        <th>TITLE</th>
		    </tr>

		    {{#each swaps}}
		    <tr>
		        <td>{{swap_id}}</td>
		        <td>{{is_accepted}}</td>
		        <td>{{request_date}}</td>
		        <td>{{title}}</td>
		    </tr>
		    {{/each}}
		</table>



		<h2> Previous Swaps </h2>
	</div>

	<div id="wishlist" class="tabcontent">
		<h2> Wishlist </h2>
	</div>


<script src="../scripts/account.js"></script>