
<link rel="stylesheet" href="/css/dashboard.css">
	<div class="row mt-4 mb-2"><h2 class="mx-auto"><i class="fas fa-user-circle"></i>&#32;Manage your account</h2></div>
        <form id="delete-alert" action="/account/delete_alert" method="POST"></form>
		{{#if newReqs}}
			<div id="swap-notifications" class="mx-auto">
				<i class="fas fa-user-clock"></i> You have {{newReqs}} new requests for trade!
			</div>
		{{/if}}
        {{#each alerts}}
            <div id="swap-notifications" class="mx-auto">
                {{alert}} &nbsp 
                <div id="delete-alert">
                    <button type="submit" id="delete-alert" form="delete-alert" name="alertId" value={{alert_id}}><i class="material-icons">delete</i></button>
                </div>
            </div>
        {{/each}}

	<div id="userDetails" class="row justify-content-center mb-4 mx-auto">
		<div class="col-md-3"><div class="row smallHeader">Name:</div><div class="row largeHeader">{{first_name}} {{last_name}}</div></div>
		<div class="col-md-4"><div class="row smallHeader">Email:</div><div class="row largeHeader">{{email}}</div></div>
		<div class="col-md-4"><div class="row smallHeader">Address:</div><div class="row largeHeader">{{street}} {{zip}}</div></div>
		<div class="col-md-1"><div class="row smallHeader">Points</div><div class="row largeHeader points">{{points}}</div></div>
	</div>

	<div class="row mx-auto">

	<!-- Reference: https://www.w3schools.com/howto/howto_js_tabs.asp -->
	<div id="dashboard" class="dashboard-top mx-auto">
		<div class="tab">
			<button class="tablinks" id="booksTab">
				<i class="fas fa-book"></i> Book Inventory
			</button>
			<button class="tablinks" id="swapsTab">
				<i class="far fa-handshake"></i> Swaps {{#if newReqs}} <span id="notify">{{newReqs}}</span> {{/if}}
			</button>
			<button class="tablinks" id="wishlistTab">
				<i class="far fa-heart"></i> Wishlist
			</button>
		</div>
	</div>

	<div id="booksInventory" class="tabcontent mx-auto" style="display: block">
		<div class="row mx-2 text-center"><button id="addInventory" class="btn mt-2 mb-4 btn-primary mx-auto"> Add New Book </button></div>

		<div class="row mx-2">
			<table id="inventoryTable" class="mx-auto">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Condition</th>
                    <th>List Date</th>
                    <th></th>
                    <th></th>
                </tr>
                {{#each books}}
                    <tr id="{{list_id}}">
                        <td>{{title}}</td>
                        <td>{{name}}</td>
                        <td>{{condition_description}}</td>
                        <td>{{formatDate list_date}}</td>
                        <td>
                            <button style="display:block" class="update btn btn-outline-primary">Update</button>
                            <button style="display:none" class="submit btn btn-outline-primary">Submit</button>
                        </td>
                        <td>
                            <button style="display:block" class="delete btn btn-outline-danger">Delete</button>
                            <button style="display:none" class="cancel btn btn-outline-danger">Cancel</button>
                        </td>
                    </tr>
                {{/each}}
			</table>
		</div>
	</div>

	<div id="swaps" class="tabcontent mx-auto">
		
        <div class="section-top"><h2> Pending Swaps </h2></div>
        <div class="section">
            <!-- traded_to == current user scenario -->
            <h4>Swaps Requested By Me - {{swapsToMePending}}</h4>
            <table class="mx-auto">
                <tr>
                    <th class="hidden">Swap ID</th>
                    <th>Request Date</th>
                    <th>Traded By</th>
                    <th>Title</th>
                    <th>Approve Date</th>
                    <th>Shipped Date</th>
                    <th>Claim Date</th>
                    <th>Status</th>
                </tr>

                {{#each swapsToMe}}
                    {{#unless is_complete}}
                        <tr>
                            <td class="hidden">{{swap_id}}</td>
                            <td>{{formatDate request_date}}</td>
                            <td>{{name}}</td>
                            <td>{{title}}</td>
                            <td>{{#if approve_date}} {{formatDate approve_date}} {{/if}}</td>
                            <td>{{#if ship_date}} {{formatDate ship_date}} {{/if}}</td>
                            <td>{{#if claim_open_date}} {{formatDate claim_open_date}} {{/if}}</td>
                            <td>{{{getStatus user_id swap_id traded_to traded_by approve_date reject_date ship_date received_date not_received lost_limit refund_date is_complete has_claim lost_date}}}</td>
                        </tr>
                    {{/unless}}
                {{/each}}
            </table>
            <!-- traded_by == current user scenario -->
            <h4> Swaps Requested To Me - {{swapsByMePending}}</h4>
            <form id="accept-trade" action="/swap/accept" method="POST"></form>
            <form id="reject-trade" action="/swap/reject" method="POST"></form>
            <form id="get-shipping" action="/swap/get-shipping" method="POST"></form>
            <form id="shipped" action="/swap/shipped" method="POST"></form>
            <form id="received" action="/swap/received" method="POST"></form>
            <form id="lost" action="/swap/lost" method="POST"></form>
            <form id="not-received" action="/swap/not_received" method="POST"></form>
            <form id="claim" action="/swap/claim" method="POST"></form>
            <form id="not-received-refund" action="/swap/not_received_refund" method="POST"></form>
            <table class="mx-auto">
                <tr>
                    <th class="hidden">Swap ID</th>
                    <th>Request Date</th>
                    <th>Trade To</th>
                    <th>Title</th>
                    <th>Approve Date</th>
                    <th>Shipped Date</th>
                    <th>Claim Date</th>
                    <th>Status</th>
                </tr>

                {{#each swapsByMe}}
                    {{#unless is_complete}}
                        <tr>
                            <td class="hidden">{{swap_id}}</td>
                            <td>{{formatDate request_date}}</td>
                            <td>{{name}}</td>
                            <td>{{title}}</td>
                            <td>{{#if approve_date}} {{formatDate approve_date}} {{/if}}</td>
                            <td>{{#if ship_date}} {{formatDate ship_date}} {{/if}}</td>
                            <td>{{#if claim_open_date}} {{formatDate claim_open_date}} {{/if}}</td>

                            {{#if is_accepted}}
                                <td>
                                    {{{getStatus user_id swap_id traded_to traded_by approve_date reject_date ship_date received_date not_received lost_limit refund_date is_complete has_claim lost_date}}}
                                </td>
                            {{/if}}
                            {{#unless is_accepted}}
                                <td>
                                    <button type="submit" form="accept-trade" name="swapId" value={{swap_id}} class="btn btn-outline-primary">Accept Trade</button>
                                    <button type="submit" form="reject-trade" name="swapId" value={{swap_id}} class="btn btn-outline-danger">Reject Trade</button>
                                </td>
                            {{/unless}}
                        </tr>
                    {{/unless}}
                {{/each}}
            </table>
        </div>

        <div class="section-top"><h2> Previous/Completed Swaps </h2></div>
        <div class="section">
            <h4>Swaps Requested By Me - {{swapsToMeComplete}}</h4>
            <table class="mx-auto">
                <tr>
                    <th class="hidden">Swap ID</th>
                    <th>Request Date</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Approve Date</th>
                    <th>Reject Date</th>
                    <th>Shipped Date</th>
                    <th>Received Date</th>
                    <th>Lost Date</th>
                    <th>Refund Date</th>
                    <th>Status</th>
                </tr>
                {{#each swapsToMe}}
                    {{#if is_complete}}
                        <tr>
                            <td class="hidden">{{swap_id}}</td>
                            <td>{{formatDate request_date}}</td>
                            <td>{{name}}</td>
                            <td>{{title}}</td>
                            <td>{{#if approve_date}} {{formatDate approve_date}} {{/if}}</td>
                            <td>{{#if reject_date}} {{formatDate reject_date}} {{/if}}</td>
                            <td>{{#if ship_date}} {{formatDate ship_date}} {{/if}}</td>
                            <td>{{#if received_date}} {{formatDate received_date}} {{/if}}</td>
                            <td>{{#if lost_date}} {{formatDate lost_date}} {{/if}}</td>
                            <td>{{#if refund_date}} {{formatDate refund_date}} {{/if}}</td>
                            <td>{{{getStatus user_id swap_id traded_to traded_by approve_date reject_date ship_date received_date not_received lost_limit refund_date is_complete has_claim lost_date}}}</td>
                        </tr>
                    {{/if}}
                {{/each}}
            </table>
            <h4>Swaps Requested To Me - {{swapsByMeComplete}}</h4>
            <table class="mx-auto">
                <tr>
                    <th class="hidden">Swap ID</th>
                    <th>Request Date</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Approve Date</th>
                    <th>Reject Date</th>
                    <th>Shipped Date</th>
                    <th>Received Date</th>
                    <th>Lost Date</th>
                    <th>Refund Date</th>
                    <th>Status</th>
                </tr>
                {{#each swapsByMe}}
                    {{#if is_complete}}
                        <tr>
                            <td class="hidden">{{swap_id}}</td>
                            <td>{{formatDate request_date}}</td>
                            <td>{{name}}</td>
                            <td>{{title}}</td>
                            <td>{{#if approve_date}} {{formatDate approve_date}} {{/if}}</td>
                            <td>{{#if reject_date}} {{formatDate reject_date}} {{/if}}</td>
                            <td>{{#if ship_date}} {{formatDate ship_date}} {{/if}}</td>
                            <td>{{#if received_date}} {{formatDate received_date}} {{/if}}</td>
                            <td>{{#if lost_date}} {{formatDate lost_date}} {{/if}}</td>
                            <td>{{#if refund_date}} {{formatDate refund_date}} {{/if}}</td>
                            <td>{{{getStatus user_id swap_id traded_to traded_by approve_date reject_date ship_date received_date not_received lost_limit refund_date is_complete has_claim lost_date}}}</td>
                        </tr>
                    {{/if}}
                {{/each}}
            </table>
        </div>
    </div>

	<div id="wishlist" class="tabcontent mx-auto">
                <h2> Wishlist </h2>
			{{#if wishlist}}
			{{#each wishlist}}
			<div id="carousel">
				<table>
					<tr>
					<td rowspan="2">
						<img id="cover" src="{{thumbnail_url}}">
					</td>
					<td>
					{{title}}
					</td>
					<tr>
					<td>
					{{description}}<br>
					<input name="remove-btn" type="submit" value="remove from wishlist">
					</td></tr>
				</table>
				</div>
				{{/each}}
			{{else}}
				There's nothing in your wishlist. <a href="/search">Search here</a> to add books.
			{{/if}}
        </div>
		</div>


	</div>

<script src="../scripts/account.js"></script>
