
<link rel="stylesheet" href="/css/dashboard.css">

<div class="container mt-4 mb-2">
    <div class="row mx-auto">
        <div class="col-8 col-md-7 text-right align-self-center">
            <h2 id="accountHeader"><i class="fas fa-user-circle"></i>&#32;{{first_name}}'s account</h2>
        </div>
        <div class="col-4 col-md-5 text-left align-self-start">
            <span class="largeHeader points">{{account.points}}</span>
            <span class="smallHeader">Points</span>
        </div>
    </div>
</div>

{{!-- Notifications --}}
<form id="delete-alert" action="/account/delete_alert" method="POST"></form>
{{#if account.newReqs}}
	<div class="swap-notifications mx-auto px-3">
		<i class="fas fa-user-clock"></i> You have {{newReqs}} new requests for trade!
	</div>
{{/if}}
{{#each account.alerts}}
    <div class="swap-notifications mx-auto">
        {{alert}} &nbsp 
        <div id="delete-alert-button">
            <button class="inline-form" type="submit" id="delete-alert-button" form="delete-alert" name="alertId" value={{alert_id}}><i class="material-icons">delete</i></button>
        </div>
    </div>
{{/each}}

<div class="row mx-auto">
	<!-- Reference: https://www.w3schools.com/howto/howto_js_tabs.asp -->
	<div id="dashboard" class="dashboard-top mx-auto">
		<div class="tab">
			<button class="tablinks" id="profileTab">
				<i class="fas fa-user-cog"></i> Profile
			</button>
			<button class="tablinks" id="booksTab">
				<i class="fas fa-book"></i> Book Inventory
			</button>
			<button class="tablinks" id="swapsTab">
				<i class="far fa-handshake"></i> Swaps {{#if account.newReqs}} <span id="notify">{{account.newReqs}}</span> {{/if}}
			</button>
			<button class="tablinks" id="wishlistTab">
				<i class="far fa-heart"></i> Wishlist
			</button>
		</div>
	</div>
</div>

<div class="row">

	<div id="profile" class="tabcontent ml-4 mx-sm-auto">
        <div id="userDetails" class="container text-center">
            <div class="smallHeader">Name:</div>
            <div class="largeHeader">{{account.first_name}} {{account.last_name}}</div>
            <div class="smallHeader">Email:</div>
            <div class="largeHeader">{{account.email}}</div>
            <div class="smallHeader">Address:</div>
            <div class="largeHeader">{{account.street}}<BR>{{account.city}}, {{account.state}} {{account.zip}}</div>
            <a href="/account/manage"><u>Edit Profile Details</u></a>
        </div>
    </div>

	<div id="booksInventory" class="tabcontent mx-auto">
		<div class="mx-auto text-center"><h2> Your Listed Books: </h2></div>
		<div class="row mx-2 text-center">
            <button id="addInventory" class="btn mt-2 mb-4 btn-primary mx-auto"> Add New Book </button>
        </div>

		<div class="row mx-2">
            {{#if account.books}}
			<table id="inventoryTable" class="mx-auto">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Condition</th>
                    <th>List Date</th>
                    <th></th>
                    <th></th>
                </tr>
                {{#each account.books}}
                    <tr id="{{list_id}}">
                        <td><a href="./book/{{ol_key}}">{{title}}</a></td>
                        <td>{{name}}</td>
                        <td>{{condition_description}}</td>
                        <td>{{formatDate list_date}}</td>
                        <td>
                            <button style="display:block" class="update btn btn-outline-primary">Update</button>
                            <button style="display:none" class="submit btn btn-outline-primary">Submit</button>
                        </td>
                        <td>
                            <button style="display:block" class="delete btn btn-outline-danger" href="/account">Delete</button>
                            <button style="display:none" class="cancel btn btn-outline-danger" href="/account">Cancel</button>
                        </td>
                    </tr>
                {{/each}}
			</table>
            {{else}}
            <div class="text-center mx-auto">
                You haven't added any books that you own. Start by adding a book!
            </div>
            {{/if}}
		</div>
	</div>

	<div id="swaps" class="tabcontent mx-auto">
        <div class="sectionTop mt-2">
            <span> Swaps In Progress </span>
            <button class="btn-sm btn-success mb-1" type="button" data-toggle="collapse" data-target="#collapsePending" id="pendingBtn">
                Hide
            </button>
        </div>
        <div class="sectionBottom collapse show" id="collapsePending">
            <!-- traded_to == current user scenario -->
            <h4> Swaps You Have Requested <span class="highlight count">{{account.swapsToMePending}}</span>  </h4>
            {{#if account.swapsToMePending}}
            <table class="mx-auto">
                <tr>
                    <th class="hidden">Swap ID</th>
                    <th>Request Date</th>
                    <th>Traded By</th>
                    <th>Title</th>
                    <th>Approve Date</th>
                    <th>Shipped Date</th>
                    <th>Claim Date</th>
                    <th>Status</th>
                </tr>
                {{#each account.swapsToMe}}
                    {{#unless is_complete}}
                        <tr>
                            <td class="hidden">{{swap_id}}</td>
                            <td>{{formatDate request_date}}</td>
                            <td>{{name}}</td>
                            <td>{{title}}</td>
                            <td>{{#if approve_date}} {{formatDate approve_date}} {{/if}}</td>
                            <td>{{#if ship_date}} {{formatDate ship_date}} {{/if}}</td>
                            <td>{{#if claim_open_date}} {{formatDate claim_open_date}} {{/if}}</td>
                            <td class="highlight">{{{getStatus this}}}</td>
                        </tr>
                    {{/unless}}
                {{/each}}
            </table>
            {{else}}
            You have no open swaps that you have requested to other.
            {{/if}}
            <hr>
            <!-- traded_by == current user scenario -->
            <h4> Swaps Requested to You  <span class="highlight count">{{add account.swapsByMePending account.newReqs}}</span></h4>
            {{#if account.swapsByMePending}}
            <form id="accept-trade" action="/swap/accept" method="POST"></form>
            <form id="reject-trade" action="/swap/reject" method="POST"></form>
            <form id="get-shipping" action="/swap/get-shipping" method="POST"></form>
            <form id="shipped" action="/swap/shipped" method="POST"></form>
            <form id="received" action="/swap/received" method="POST"></form>
            <form id="lost" action="/swap/lost" method="POST"></form>
            <form id="not-received" action="/swap/not_received" method="POST"></form>
            <form id="claim" action="/swap/claim" method="POST"></form>
            <form id="not-received-refund" action="/swap/not_received_refund" method="POST"></form>
            <table class="mx-auto">
                <tr>
                    <th class="hidden">Swap ID</th>
                    <th>Request Date</th>
                    <th>Trade To</th>
                    <th>Title</th>
                    <th>Approve Date</th>
                    <th>Shipped Date</th>
                    <th>Claim Date</th>
                    <th>Status</th>
                </tr>

                {{#each account.swapsByMe}}
                    {{#unless is_complete}}
                        <tr>
                            <td class="hidden">{{swap_id}}</td>
                            <td>{{formatDate request_date}}</td>
                            <td>{{name}}</td>
                            <td>{{title}}</td>
                            <td>{{#if approve_date}} {{formatDate approve_date}} {{/if}}</td>
                            <td>{{#if ship_date}} {{formatDate ship_date}} {{/if}}</td>
                            <td>{{#if claim_open_date}} {{formatDate claim_open_date}} {{/if}}</td>

                            {{#if is_accepted}}
                                <td class="highlight">
                                    {{{getStatus this}}}
                                </td>
                            {{/if}}
                            {{#unless is_accepted}}
                                <td>
                                    <button type="submit" form="accept-trade" name="swapId" value={{swap_id}} class="btn btn-primary">Accept Trade</button>
                                    <button type="submit" form="reject-trade" name="swapId" value={{swap_id}} class="btn btn-danger">Reject Trade</button>
                                </td>
                            {{/unless}}
                        </tr>
                    {{/unless}}
                {{/each}}
            </table>
            {{else}}
            There are no swaps in progress that others have requested to you.
            {{/if}}
        </div>
        <div class="mb-4">
            <div class="sectionTop mt-2">
                <span> Previous/Completed Swaps </span>
                <button class="btn-sm btn-success mb-1" type="button" data-toggle="collapse" data-target="#collapseComplete" id="completeBtn">
                    Expand
                </button>
            </div>
            <div class="sectionBottom collapse" id="collapseComplete">
                <h4> Swaps You've Requested <span class="highlight count">{{account.swapsToMeComplete}}</span></h4>
                {{#if account.swapsToMeComplete}}
                <table class="mx-auto">
                    <tr>
                        <th class="hidden">Swap ID</th>
                        <th>Request Date</th>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Approve Date</th>
                        <th>Reject Date</th>
                        <th>Shipped Date</th>
                        <th>Received Date</th>
                        <th>Lost Date</th>
                        <th>Refund Date</th>
                        <th>Status</th>
                    </tr>
                    {{#each account.swapsToMe}}
                        {{#if is_complete}}
                            <tr>
                                <td class="hidden">{{swap_id}}</td>
                                <td>{{formatDate request_date}}</td>
                                <td>{{name}}</td>
                                <td>{{title}}</td>
                                <td>{{#if approve_date}} {{formatDate approve_date}} {{/if}}</td>
                                <td>{{#if reject_date}} {{formatDate reject_date}} {{/if}}</td>
                                <td>{{#if ship_date}} {{formatDate ship_date}} {{/if}}</td>
                                <td>{{#if received_date}} {{formatDate received_date}} {{/if}}</td>
                                <td>{{#if lost_date}} {{formatDate lost_date}} {{/if}}</td>
                                <td>{{#if refund_date}} {{formatDate refund_date}} {{/if}}</td>
                                <td class="highlight">{{{getStatus this}}}</td>
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>
                {{else}}
                There are no completed swaps that you requested to others.
                {{/if}}
                <hr>
                <h4> Swaps Requested to You <span class="highlight count">{{account.swapsByMeComplete}}</span></h4>
                {{#if account.swapsByMeComplete}}
                <table class="mx-auto">
                    <tr>
                        <th class="hidden">Swap ID</th>
                        <th>Request Date</th>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Approve Date</th>
                        <th>Reject Date</th>
                        <th>Shipped Date</th>
                        <th>Received Date</th>
                        <th>Lost Date</th>
                        <th>Refund Date</th>
                        <th>Status</th>
                    </tr>
                    {{#each account.swapsByMe}}
                        {{#if is_complete}}
                            <tr>
                                <td class="hidden">{{swap_id}}</td>
                                <td>{{formatDate request_date}}</td>
                                <td>{{name}}</td>
                                <td>{{title}}</td>
                                <td>{{#if approve_date}} {{formatDate approve_date}} {{/if}}</td>
                                <td>{{#if reject_date}} {{formatDate reject_date}} {{/if}}</td>
                                <td>{{#if ship_date}} {{formatDate ship_date}} {{/if}}</td>
                                <td>{{#if received_date}} {{formatDate received_date}} {{/if}}</td>
                                <td>{{#if lost_date}} {{formatDate lost_date}} {{/if}}</td>
                                <td>{{#if refund_date}} {{formatDate refund_date}} {{/if}}</td>
                                <td class="highlight">{{{getStatus this}}}</td>
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>
                {{else}}
                There are no completed any swaps that others have requested to you.
                {{/if}}
            </div>
        </div>
    </div>

	<div id="wishlist" class="tabcontent mx-auto">
        <form id="delete-this-wish" form action="/account/delete_wish" method="POST"></form>
        <h2> Your Wishlist </h2>
        <div class="row mx-2 text-center">
            <button id="addWish" class="btn mt-2 mb-4 btn-primary mx-auto" onclick="window.location.href='/book/search';"> Add New Book </button>
        </div>
        <div class="slideshow-container mx-auto">
			{{#if account.wishlist}}
                <div class="nav-arrows">
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                {{#each account.wishlist}}
                    <div class="mySlides">
                        <table class="mx-auto">
                            <tr>
                                <td>
                                    <img class="cover" src="{{thumbnail_url}}">
                                </td>
                                <td class="description">
                                    <span>{{title}}</span>
                                    <P></P>
                                    {{nullDescription description}}<hr>
                                    <button type="submit" name="book_id" value={{book_id}} form="delete-this-wish" class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                        </table>
				    </div>
				{{/each}}
                </div>
			{{else}}
				There's nothing in your wishlist. Click the button to add new books.
			{{/if}}
        </div>
    </div>

</div>


<script src="../scripts/account.js"></script>
<script>
    var tab = {{{tab}}} || "";
    if (tab == "wish") {
        document.getElementById("wishlistTab").click();
    } else if (tab == "swaps") {
        document.getElementById("swapsTab").click();
    } else if (tab == "books") {
        document.getElementById("booksTab").click();
    } else {
        document.getElementById("profileTab").click();
    }
</script>
