<link rel="stylesheet" href="/css/book.css">
<div class="container">
    {{#if isNew}}
    <div>The book has been successfully added to our database!</div>
    {{/if}}
    <div class="row">
        <div class="col-md-3">
            <img src="{{result.thumbnail_url}}">
        </div>
        <div class="col-md-9 mx-auto">
            <h3>{{result.title}}</h3> by {{result.name}}
            <hr>
            <span id="description">{{result.description}}</span>
            
            {{!-- <P>Genres: {{result.genre}}</P> --}}
        </div>
    </div>

    {{#if result.new}}
        <div class="row justify-content-center align-items-center mt-2 mb-4">
            <div class="col-md-8 info">
                This book hasn't been added to our library yet! Would you like to add it?<BR>
                <em>Note: This book must be added to the library in order to trade this book.</em>
            </div>
            <div class="col-md-2 text-center">
                <form method="POST" action="/book/create-book">
                    <input name="title"         value="{{result.title}}"         hidden="true">
                    <input name="thumbnail_url" value="{{result.thumbnail_url}}" hidden="true">
                    <input name="bol_key"       value="{{result.book_id}}"       hidden="true"> 
                    <input name="name"          value="{{result.name}}"          hidden="true">
                    <input name="aol_key"       value="{{result.author_id}}"     hidden="true"> 
                    <input name="description"   value="{{result.description}}"   hidden="true"> 
                    <input type="submit"        value="Add Book"          class="btn btn-primary">
                </form>
            </div>
            <div class="col-md-2 text-center">
            <button type="button" class="btn btn-danger" onclick="window.location.href='/book/search';">Search Again</button>
            </div>
        </div>
    {{/if}}

    {{#if result.exists}}
    <div class="row">
        <button type="button" class="btn btn-primary" onclick="showAddForm()">Add this book to your collection of owned books:</button>
        <button type="button" class="btn btn-danger" onclick="window.location.href='/book/search';">Search Again</button>
    </div>

    <hr>
    <div class="row">
        <div id="chooseCondition" class="container hidden">
            <div id="addForm">

                <label for="condition"><a href="#" target="_blank">Choose the condition of your book to trade:</a></label>
                <select name="condition" id="newCondition">
                    <option value="3">Excellent condition: 15pts</option>
                    <option value="2">Good condition: 10pts</option>
                    <option value="1">Acceptable condition: 5pts</option>
                </select> 

                <input id="newTitle" value="{{result.title}}" hidden>
                <input id="newUser_id" value="{{user_id}}" hidden>
                <input id="newBook_id" value="{{result.book_id}}" hidden>

                <button type="button" class="btn btn-outline-primary btn-large" id="addBookBtn" onclick="addBook()">Add Book!</button>

                <P><div id="confirm"></div></P>
            </div>
        </div>
    </div>

    
    <div class="row">
        {{#if copies}}
        Open Swaps for this Book:
            <div class="row">
                {{#each copies}}
                    <ul>A copy in {{condition_description}} condition was listed on {{list_date}}</ul>
                    <hr>
                {{/each}}
            </div>
        {{/if}}

        {{#unless copies}}
        There are no available copies of this book for trade.
        {{/unless}}

    {{/if}}
    </div>

<script src="../scripts/addbook.js"></script>
