<div class="row">
    <div class="col-md-3">
        {{coverart}}
    </div>
    <div class="col-md-9 mx-auto">
        <h3>{{title}}</h3> by {{first_name}} {{last_name}}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8 mx-auto">
    Open Swaps: {{copies}}
    </div>
</div>