<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="{{thumbnail_url}}">
        </div>
        <div class="col-md-9 mx-auto">
            <h3>{{title}}</h3> by {{name}}
            <hr>
            {{description}}
            <P>Genres: {{genre}}</P>
        </div>
    </div>

    {{#if new}}
        <div class="row justify-content-center align-items-center mt-2 mb-4">
            <div class="col-md-6 addLibrary">
                This book hasn't been added to our library yet! Would you like to add?<BR>
                <em>Note: This book must be added to library in order to trade this book.</em>
            </div>
            <div class="col-md-2">
                <form method="PUT" action="/book/create-book">
                    <input name="title"         value="{{title}}"         hidden="true">
                    <input name="thumbnail_url" value="{{thumbnail_url}}" hidden="true">
                    <input name="bol_key"       value="{{book_id}}"       hidden="true"> 
                    <input name="name"          value="{{name}}"          hidden="true">
                    <input name="aol_key"       value="{{author_id}}"     hidden="true"> 
                    <input type="submit"        value="Add Book"          class="btn btn-primary">
                </form>
            </div>
        </div>
    {{/if}}

    {{#if exists}}
    <div class="row">
        <button type="button" class="btn btn-primary" onclick="showAddForm()">Add this book to your collection of owned books:</button>
        <button type="button" class="btn btn-danger" onclick="window.location.href='../search';">Search Again</button>
    </div>
    {{/if}}
<hr>
    <div class="row">
        <div id="chooseCondition" class="container hidden">
            <div id="addForm">

                <label for="condition"><a href="#" target="_blank">Choose the condition of your book to trade:</a></label>
                <select name="condition" id="newCondition">
                    <option value="3">Excellent condition: 15pts</option>
                    <option value="2">Good condition: 10pts</option>
                    <option value="1">Acceptable condition: 5pts</option>
                </select> 

                <input id="newTitle" value="{{title}}" hidden>
                <input id="newUser_id" value="{{user_id}}" hidden>
                <input id="newBook_id" value="{{book_id}}" hidden>

                <button type="button" class="btn btn-outline-primary btn-large" id="addBookBtn" onclick="addBook()">Add Book!</button>

                <P><div id="confirm"></div></P>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-8 mx-auto">
        Open Swaps for this Book: {{copies}}
        </div>
    </div>
</div>

<script src="../scripts/addbook.js"></script>