<div class="container">
    <h2>Didn't find your book?</h2>
    Add it here:
    <div class="row">
        <form action="">
            <input type="text" name="title" id="newTitle">
            <input type="text" name="author" id="newAuthor">
            <input type="text" name="description" id="newDescription">
            <input value="null" name="newThumbnail" id="newThumbnail" hidden>
            <input type="submit" value="Submit New Book">
        </form>
    </div>
</div>

<script src="../scripts/addbook.js"></script>
{{!-- 
                <input id="newOl_key" value= "{{ol_key}}" hidden>
                <input id="newDescription" value= "{{description}}" hidden>
                <input id="newThumbnail_url" value= "{{thumbnail_url}}" hidden>
                <input id="newTitle" value="{{title}}" hidden> 
                <input id="newUser" value= "{{user}}" hidden> 
                <input id="newAuthor" value= "{{author}}" hidden>  --}}