<div class="thread-page-container">
    <div class="justify-content-center row mb-3" style="border-bottom: 1px solid #3b6978; color: #184d47">
        <div class="col-sm-1 align-self-end"><h1><i class="fas fa-columns"></i></h1></div>
        <div class="col-sm-5"><h1 style="margin-bottom: -5px">The Forum</h1>&emsp;&emsp;seek answers <span style="color: #d8345f">for</span> your <span style="color: #d8345f">ums</span></div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-9">
                <div class="row">
                    View:	&emsp;
                    <form id="filter-threads" action="/forum/" method="GET">
                        <input type="radio" form="filter-threads" id="view-all" name="filter" value="all" onclick="filterSubmit(this)" {{{setChecked "all" criteria}}}>
                        <label for="view-all">All	&emsp;</label>
                        <input type="radio" form="filter-threads" id="view-resolved" name="filter" value="resolved" onclick="filterSubmit(this)" {{{setChecked "resolved" criteria}}}>
                        <label for="view-resolved">Resolved	&emsp;</label>
                        <input type="radio" form="filter-threads" id="view-unresolved" name="filter" value="unresolved" onclick="filterSubmit(this)" {{{setChecked "unresolved" criteria}}}>
                        <label for="view-unresolved">Unresolved	&emsp;</label>
                        <input type="radio" form="filter-threads" id="view-userId" name="filter" value="userId" onclick="filterSubmit(this)" {{{setChecked "userId"criteria}}}>
                        <label for="view-userId">My Threads	&emsp;</label>
                    </form> 
                </div>
            </div>
            <div class="col-sm-3 text-right">
                <a href="/forum/create"><button type="button" class="btn btn-info"><i class="fas fa-plus-square"></i>&emsp;Create Thread</button></a>
            </div>
        </div>

        <div class="section-top px-4">
            {{#if (ifUser criteria)}}
            <h3>my threads</h3>
            {{else}}<h3>{{criteria}} threads</h3>
            {{/if}}
        </div>
        <div class="section">
            {{#each threads}}
                <div class="forum-card row mx-1 py-3 px-2">
                    <span style="display:none">{{thread_id}}</span>
                    <div class="col-sm-1 title-icon my-auto text-right"><i class="fas fa-comment-alt"></i></div>
                    <div class="col-sm-7 title my-auto pl-0">
                        <a href={{formatThreadLink thread_id}}>{{title}}</a>
                    </div>
                    <div class="col-sm-4 text-right my-auto">
                        <span class="resolved">{{is_resolved}}</span>
                        <br>by <span class="user">{{user}}&emsp;>></span>
                        <br> on <span class="date">{{create_date}}</span>
                    </div>
                </div>
            {{/each}}
            {{#if (ifUser criteria)}}
                {{#unless threads}}
                    You don't have any threads!&emsp;<a href="/forum/create" style="color: #17a2b8;">Start one here!</a>
                {{/unless}}
            {{/if}}
        </div>

    </div>
</div>

<script src="../scripts/forum.js"></script>
