<div class="mx-auto">
    <div class="text-center">
        <h2>Update Account:</h2>
        <form id="editForm" form action="/account/update" method="POST" class="mb-3">
            <input type="hidden" name="user_id" value="{{user_id}}">
            <input type="text" name="first_name" value="{{first_name}}" required>
            <P></P>
            <input type="text" name="last_name" value="{{last_name}}" required>
            <P></P>
            <input type="email" name="email" value="{{email}}" required>
            <P></P>
            <input type="text" name="street" value="{{street}}" required>
            <P></P>
            <input type="text" name="city" value="{{city}}" required>
            <P></P>
            <input type="text" name="state" value="{{state}}" required>
            <P></P>
            <input type="text" name="zip" value="{{zip}}" required>
            <P></P>
            <input type="reset" name="resetManageBtn" value="reset!">
            <input type="submit" name="editBtn" value="finish changes!">
        </form>
        <input type="submit" name="changePassBtn" value="change password!">
        <form id="deleteForm" form action="/account/delete" method="POST">
            <input type="hidden" name="user_id" value={{user_id}}>
            <input type="submit" name="deleteBtn" value="delete my account!">
        </form>
    </div>
</div>