Search for users by:
<form id="search_user">
<select name ="search">
<option value="1" id="f_name">First Name</option>
<option value="2" id="l_name">Last Name</option>
<option value="3" id="email">email address</option>&nbsp;&nbsp;
<input id="filter" type="text" required><br>
<button id="searchBtn">Search</button>
</form>
<div id="results">
{{#if user}}
<table><tr><th>
First name</th> <th>Last Name</th> <th>email</th>
<th>Available Swaps</th><th></th>
</tr>
{{#each user}}
<tr>
<td>{{first_name}}</td>
<td>{{last_name}}</td>
<td>{{email}}</td>
<td>{{swaps}}</td>
<td><button id="request" onclick="request_swap()">Request swap</button>
</td>
</tr>
{{/each}}
</table>
{{else}}
Sorry, no results matched your search.
{{/if}}
