<link rel="stylesheet" href="/css/book.css">
<div class="container">
    <div class="row pl-3 pl-md-0"><h2><i class="fas fa-search"></i> Search for Books</h2></div>
    <div class="row pl-3 pl-md-0">
        <form action="/book/search" method="GET">
            <input type="text" name="title" placeholder="Title/ISBN/Genre">
            <input type="text" name="author" placeholder="Author">
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="row pl-3 pl-md-0">
        <span id="loadingText">{{message}}</span>
    </div>
</div>

{{#if message}}
<div class="container" id="resultsDiv">
    <div class="container" id="searchResults">

        {{#each data}}
        <div class="row searchResult">
            <div class="col-6 col-md-3">
                {{{nullImg thumbnail_url}}}
            </div>
            <div class="col-6 col-md-9">{{title}} by {{author}}
                <hr>
                <form action=/book/{{book_id}} method="POST">
                    <input value={{{formatForm title}}} name="title" hidden="true">
                    <input value={{{formatForm author}}} name="name" hidden="true">
                    <input value={{{formatForm thumbnail_url}}} name="thumbnail_url" hidden="true">
                    <input value={{{formatForm book_id}}} name="book_id" hidden="true">
                    <input value={{{formatForm author_id}}} name="author_id" hidden="true">
                    <input value={{{formatForm description}}} name="description" hidden="true">
                    <input type="submit" value="Select Book">
                </form>
            </div>
        </div>
        <hr>
        {{/each}}
        
    </div>
    <div class="container" id="noFind">
        <div class="row note">
            <strong>Can't find your book?</strong>&emsp;Try another search or add it&emsp;<a href="/book/create-book">here!</a>
        </div>
    </div>
</div>
{{/if}}