<link rel="stylesheet" href="/css/user.css">
<div id="content" class="container">
{{#if users}}
    <h4>Success! Results found:</h4>
        {{#each users}}
            <table id="user_display">
                <tr>
                    <th>First name</th> <th>Last Name</th> <th>contact</th>
                </tr>
                <tr>
                    <td>{{fname}}</td>
                    <td>{{lname}}</td>
                    <td>
                        {{#if mail}}
                            <a class="btn" href="mailto:{{mail}}">Send email</a>
                        {{else}}
                            Contact information is private.
                        {{/if}}
                    </td>
                </tr>
            </table>
            <br>
            {{#if books.length}}
                <div>
                    <b>Books {{fname}} has to trade</b>
                </div>
                <div class="openSwaps">
                    {{#each books}}
                    <div>
                        <div style="display:inline;padding:5px;">{{title}}</div>
                        <div style="display:inline;padding:5px;">{{description}}</div>
                        <div style="display:inline-block;padding:5px;">
                            {{#if (checkAffordability cost @root.points)}}
                            <form action="/swap/create" method="POST" class="inline-form">
                                <input hidden {{{formatForm list_id}}} name="list_id">
                                <input hidden {{{formatForm owner_id}}} name="owner_id">
                                <input hidden {{{formatForm cost}}} name="cost">
                                <input type="submit" value="Swap for {{cost}} points">
                                <input hidden value=1 name="book_page">
                            </form>
                            {{else}}
                            <span> &nbsp;&nbsp; (You do not have enough points to trade for this copy) </span>
                            {{/if}}
                        </div>
                     </div>
                     {{/each}}
                </div>
            {{else}}
            <div>
                {{fname}} doesn't have any books available.
            </div>
            {{/if}}
        {{/each}}
{{else}}
<h4>Sorry, no results matched your search. <a href="/user">Search again?</a></h4>
{{/if}}
</div>
<div id ="success"></div>
