<div class="container">
    <div class="mt-4 mb-2">
        <a href="/account">Go Back</a>
    </div>
    <h3>Shipping Address</h3>
    <div>
        {{ship_fname}} {{ship_lname}}<br>
        {{street}} {{city}} {{state}} {{zip}}
    </div>
</div>

