
<div class="container">
    <div class="row"><h2>Shows Swaps</h2></div>
    <ul>
        <li>If public (no one has logged in), shows a few book that are up for trade: route ("/public-swaps")</li>
        <li>If user has logged in, will show that user's trades: route ("/swaps")</li>
    </ul>    
    <div class="row">
        <table>
            <tr>
                <th>ID</th>
                <th>ID</th>
                <th>Traded By</th>
                <th>Traded To</th>
                <th>Ship Date</th>
                <th>Accepted</th>
                <th>Claim?</th>
                <th>Complete</th>
            </tr>

            {{#each swaps}}
            <tr>
                <td>{{swap_id}}</td>
                <td>{{list_id}}</td>
                <td>{{traded_by}}</td>
                <td>{{traded_to}}</td>
                <td>{{ship_date}}</td>
                <td>{{is_accepted}}</td>
                <td>{{has_claim}}</td>
                <td>{{is_complete}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>