<div>
    Thread Contents
    <div>
        <a href="/forum">Go Back</a>
    </div>
    <div>
        <h3> {{title}} </h3>
    </div>
    <div>
        {{#each thread}}
        <div>
            <div style="display:inline-block">
                {{user}}
                <p>
                {{date}}
            </div>
            <div style="display:inline-block">
                {{{post}}}
            </div>
        </div>
        {{/each}}
    </div>
    <div>
        <form id="insert-message" action="/forum/insert" method="POST">
            <div id="text-editor"></div>
            <input type="hidden" id="post-input" name="post" required>
            <input type="hidden" name="thread_id" value="{{id}}">
            <input type="submit" name="insert-message-button" value="Submit">
        </form>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
<script src="../scripts/forum.js"></script>
